@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #000;
	color: #fff;
}
